<div class="panel panel-primary">
  <div class="panel-heading"><h1>Listing Notes</h1></div>

  <table class="table">
    <thead>
      <tr>
        <th>Type</th>
        <th>Component</th>
        <th>Ticket</th>
        <th>Description</th>
        <th>Wiki</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @notes.each do |note| %>
        <tr>
          <td><%= note.kind_description %></td>
          <td><%= note.component %></td>
          <td><%= note.ticket %></td>
          <td><%= note.description %></td>
          <td><%= link_to note.wiki, note.wiki %></td>
          <td><%= link_to 'Show', note %></td>
          <td><%= link_to 'Edit', edit_note_path(note) if signed_in? %></td>
          <td><%= link_to 'Destroy', note, method: :delete, data: { confirm: 'Are you sure?' } if signed_in? %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'New Note', new_note_path, class: "btn btn-primary" if signed_in? %>
</div>