<p id="notice"><%= notice %></p>

<p>
  <strong>Kind:</strong>
  <%= @note.kind %>
</p>

<p>
  <strong>Component:</strong>
  <%= @note.component %>
</p>

<p>
  <strong>Description:</strong>
  <%= @note.description %>
</p>

<p>
  <strong>Wiki:</strong>
  <%= @note.wiki %>
</p>
